.Home{
  padding-top: .7rem;
}
.carousel img{
  width: 100%;
  height: 250px;
}
.season{
  border-top: .01rem solid #999;
  margin-top: .7rem
}
.season h3{
  font-size: .28rem;
  line-height: .6rem;
  color: #333;
  padding-left: .2rem
}
.season img{
  width: 100%;
  height: 3rem;
}
.season span{
  font-size: .24rem;
  line-height: .6rem;
  color: #333;
  padding-left: .2rem
}
.season p{
  font-size: .2rem;
  line-height: .6rem;
  color: #333;
  padding:0 .2rem .1rem .2rem
}
.route{
  border-top: .01rem solid #999;
  margin-top: .2rem
}
.route h3{
  font-size: .28rem;
  line-height: .6rem;
  color: #333;
  padding-left: .2rem
}
.homeroute{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .1rem .4rem
}
.homeroute img{
  width: 2.5rem;
  height: 2.5rem;
}
.homeroute p{
  font-size: .2rem;
  line-height: .4rem;
  color: #333;
  padding: .1rem .2rem 0 .2rem
}
.homeroute span{
  font-size: .2rem;
  line-height: .4rem;
  color: #333;
  padding-left: .2rem
}